body {
  margin: 0;
}


header {
  background-color: white;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0;
}

.logo {
  display: flex;
  max-width: 200px;
  margin: -20px 0px;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  margin: 0 10px;
}

nav a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.login-register {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
}

.login a {
  display: block;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  margin-right: 20px;
}

.register a {
  display: block;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: grey;
  color: black;
  text-align: center;
  font-size: 12px;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
}

.login a:hover {
  background-color: black;
  color: white;
}

.register a:hover {
  background-color: black;
  color: white;
}