html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}


header {
  background-color: white;
}

footer{

  width: 100%;
  height: 200px;
  background-color: white;
  color: black;
  text-align: center;
  
  }

/* ------ navBar ------ */

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  margin: 0px;
}

.logo {
  display: flex;
  max-width: 200px;
  margin: -40px 0px;
  cursor: pointer;
}

.logo:hover {
  opacity: 0.8;
}

nav ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav li {
  list-style-type: none;
  margin: 0 10px;
}

nav a {
  font-family: "IBM Plex Mono", monospace;
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.login-register {
  list-style-type: none;
  display: flex;
  align-items: flex-end;
  margin-right: 40px;
}

.login a {
  display: block;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: white;
  color: black;
  text-align: center;
  font-size: 12px;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
  margin-right: 20px;
}

.register a {
  display: block;
  padding: 8px 16px;
  border: 2px solid black;
  border-radius: 4px;
  background-color: grey;
  color: black;
  text-align: center;
  font-size: 12px;
  font-family: "IBM Plex Mono", monospace;
  text-decoration: none;
}

.login a:hover {
  background-color: black;
  color: white;
}

.register a:hover {
  background-color: black;
  color: white;
}


/* ------ homeContent ------ */

/* ------ joinToday ------ */

.join-today {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  position: relative;
}

.background {
  display: block;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}
.join-today h1, .join-today h2, .joinToday {
  margin: 0px;
 }

 .join-today h1 {
  font-size: 22px;
  font-family:'IBM Plex Mono', monospace;
  color: white;
  position: absolute;
  left: 20px;
  top: 200px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
 }

 .join-today h2 {
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  position: absolute;
  left: 100px;
  top: 230px;
  margin: 20px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

 .joinToday {
  font-size: 16px;
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  position: absolute;
  left: 220px;
  top: 300px;
  text-decoration: none;
  padding: 5px 20px;
  background-color: grey;
  border: 2px solid black;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-shadow: 1px 1px 5px turquoise;
}

.joinToday:hover{
  background-color: black;
  color: white;
  text-shadow: 1px 1px 5px turquoise;
}

/* ------ newArrivals ------ */

.new-arrivals-scroll {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 10px;
}

.fa-solid .fa-arrow-right {
  
  font-size: 20px;
  font-weight: 900;
}

.new-arrivals-scroll img {
  flex: 0 0 auto;
  width: 300px;
  height: 300px;
  margin: 0 30px;
  scroll-snap-align: center;
  object-fit: cover;
}

.new-arrivals-title {
  text-align: center;
  font-size: 36px;
  font-family: 'IBM Plex Mono';
}

/* ------ memberships ------ */

 .title {
  text-align: center;
  font-size: 36px;
  font-family: 'IBM Plex Mono';
}


.slogan {
  text-align: center;
  font-size: 18px;
  font-family: 'IBM Plex Mono';
  margin-bottom: 80px;
}

.membership-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-left: 20px;
}

.membership-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 24px;
  font-family: 'IBM Plex Mono';
  
}

.membership-items h3 {
  font-size: 24px;
}

.membership-price {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(212, 251, 248);
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.15);
  padding: 50px;
  width: 250px;
  height: 350px;

}

.membership-price p {
  font-size: 16px;
  margin-bottom: 10px;

}

.getStarted {
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
  margin-top: 20px;
}

.getStarted:hover {
  background-color: #e2abab;
}

.faq h3 {
  font-family: 'IBM Plex Mono';
  font-size: 24px;
  text-align: center;
}
.faq-container {
  padding: 0;
  border-radius: 10px;
  font-family: 'IBM Plex Mono';
  margin-right: 20px;
}

.faq-question h4 {
  margin: 10px;
  padding: 13px;
  background-color: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  
}

.faq-question p {
  margin: 0;
  padding: 10px;
  display: flex;
  text-align: left;
  font-size: 12px;
  
}

.faq-question h4:hover {
  background-color: #ddd;
}

/* ------ browseProducts ------ */

.browseProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 600px;
  position: relative;
  margin-top: 100px;
}

.productsList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.text-container h1 {
  font-size: 36px;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  margin: 0;
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

 .text-container p {
  font-size: 18px;
  font-family: 'IBM Plex Mono', monospace;
  color: white;
  margin: 20px 0;
  text-align: center;
 }

.products {
  font-size: 16px;
  font-family: 'IBM Plex Mono';
  color: rgb(255, 255, 255);
  padding: 5px 20px;
  background-color: rgb(0, 0, 0);
  border: 0;
  border-radius: 13px;
  cursor: pointer;
  
  
}

.products:hover {
  background-color: white;
  color: black;
  text-shadow: 1px 1px 5px turquoise;
}

/* ------ rentingBenefits ------ */

.benefits {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.chariotImg {
  
  padding-top: 50px;
  margin-left: 30px;
  width: 80%;
}

.whyRenting {

  margin-right: 50px;
  padding-right: 20px;
  
}
.whyRenting h1 {
  font-family: 'IBM Plex Mono';
  font-size: 28px;
}

.whyRenting h2 {
  font-family: 'IBM Plex Mono';
  font-size: 40px;
}

.whyRenting p {
  font-family: 'IBM Plex Mono';
  font-size: 16px;
}

.fourBenefits {
  display: flex;
  flex-direction: row;
  padding: 20px;
  margin: 20px;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}

.benefitItem {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.benefitImg {
  width: 100%;
  max-width: 150px;
}

.benefitTitle {
  margin-top: 20px;
  text-align: center;
  font-style: oblique;
  font-family: Impact;
}

/* ------ seenUs ------ */

.seenUs {
  
  background-color: #FFABAB;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}


.testimonials {

  font-family: 'IBM Plex Mono';
  font-size: 32px;
  font-style: italic;
  text-align: left;
  margin-left: 20px;
  font-weight: bold;
  color: white;
  -webkit-text-stroke: 0.5px black;
}

.magazines {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.magazineImg {
  max-width: 150px;
  margin-bottom: 20px;
  margin-right: 20px;
}

/* ------ footerContent ------ */

.footerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerContent {
  text-align: center;
}

.footerLogo {
  display: block;
  align-items: center;
  max-width: 200px;
  margin: -20px auto 0 auto;
  margin-bottom: -20px;
}

.footerContent p {

  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: black;
}

.socials {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  padding: 10px;
}

.socials li{
  margin: 0 10px;
}
.socials a {
  text-decoration: none;
  color: #264ed1;
  border-color: transparent;
  padding: 5px;
  border-radius: 50%;
}
.socials a i{
  color: black;
  font-size: 1.1rem;
  width: 20px;
  transition: color .4s ease;
}
.socials a:hover i{
  color: aqua;
}

.footerLinks ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: 'IBM Plex Mono';
}

.footerLinks li {
  margin: 0 15px;
}

.footerLinks a {
  text-decoration: none;
  color: #222;
  font-weight: bold;
  transition: color .4s ease;
}

.footerLinks a:hover {
  color: aqua
}

.footerCopyright {
  font-size: 10px;
  text-align: center;
  margin-top: 15px;
  color: #777;
}